<!doctype html>
<html lang="en" ng-app>

<head>
  <title>Football Teams</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
  <style>
    body {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    
    table,
    th,
    td {
      border-collapse: collapse;
      border: 1px solid black;
      text-align: center;       
      }


    #map {
        height: 200px;
        width: 100%;
        padding-top: 60px;
        padding-bottom: 60px;
        background-color: grey;
    }

  </style>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script>
    function load() {
      $.ajax({
        url: "/get/html",
        cache: false,
        success: function(html) {
          
          $("#results").prepend(html);
        }
      });
    };

    $(document).ready(function() {
      load();
    });
  </script>
</head>

<body>
    <script>
      function initMap() {
          var data = <%- JSON.stringify(team) %>;
          console.log(data);
         var result = {lat: data[0].coordinates[0].location.lat, lng: data[0].coordinates[0].location.lng};
          console.log(result);
         // var result = {lat: 53.3498, lng:-6.2603}
          var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: result
        });

        //var contentString = data[0].Captain;
        
        var marker;
        var contentString;
        var infowindow;
        for(i = 0; i < data.length; i++){
          console.log({lat: data[i].coordinates[0].location.lat, lng: data[i].coordinates[0].location.lng})
            marker = new google.maps.Marker({
            position: {lat: data[i].coordinates[0].location.lat, lng: data[i].coordinates[0].location.lng},
            animation: google.maps.Animation.DROP,
                map: map,
           });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
          infowindow = new google.maps.InfoWindow({
          contentString: data[i].Captain +"\n"+ data[i].Location +"\n"+ data[i].Name +"\n"+ data[i].Knickname
        });
         console.log(contentString);
        }   
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOtY3B9nrFWLW699A8i6V5IJQ_TKwmgZo&callback=initMap">
    </script>
  <div class="container">
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
      </div>
    </div>
    <div class="page-header">
      <h1>Football Teams</h1>
    </div>
    <div id="map">
    </div>
    <div class="row">
      <div id="results" class="span8">
      </div>
      <div class="span4">
        <ul class="nav nav-list well">
          <li>
            <form enctype='application/json' action="/post/json" method="post">
              <div class="field">
                <input type="text" name="Name" placeholder="Name">
              </div>
              <div class="field">
                <input type="text" name="Location" placeholder="City, Country">
              </div>
              <div class="field">
                <input type="text" name="Captain" placeholder="Captain">
              </div>
              <div class="field">
                <input type="text" name="Nickname" placeholder="Nickname">
              </div>
              <div class="field">
                <button type="submit">Submit</button>
                <button type="remove">Remove</button>                
              </div>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>

</html>